.el-button {
  border-color: transparent !important;
  padding: 0.2rem 2.5rem !important;
  background-color: white !important;

  span {
    color: #5f187d;
    font-size: 18px;
    font-weight: bold;
    // font-family: "Oswald", "sans-serif" !important;
  }

  &.outlined-btn:hover {
    // background-color: transparent !important;
    border-color: white !important;
    color: white !important;
  }
  &:hover {
    background-color: rgba(209, 213, 219, 1) !important;
  }
}
// .el-radio {
//   .el-radio__label {
//     font-size: 20px;
//   }
// }
