$sm-width: 640px; 
$md-width: 768px; 
$lg-width: 1024px; 
$desktop-width: 1024px;  


@mixin md-width { @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1px}) {       
   @content;   
 } 
}  

@mixin lg-width {   @media (min-width: #{$lg-width}) {     
  @content;  
 } 
}